{
	"jsxBracketSameLine": true,
	"singleQuote": true,
	"semi": false,
	"useTabs": true,
	"printWidth": 100,
	"trailingComma": "es5",
	"eslintIntegration": true,
	"overrides": [
		{
			"files": "*.gen.ts",
			"options": {
				"printWidth": 200
			}
		}
	]
}