<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title demo: #{demoName}
		style.
			html, body {
				margin: 0;
				padding: 0;
				border: none;
				background: transparent;
			}
			#container {
				position: absolute;
				left: 0;
				top: 0;
				width: 100vw;
				height: 100vh;
			}

	body

		.info

		#container

		<script src="https://cdnjs.cloudflare.com/ajax/libs/downloadjs/1.4.8/download.min.js" integrity="sha512-WiGQZv8WpmQVRUFXZywo7pHIO0G/o3RyiAJZj8YXNN4AV7ReR1RYWVmZJ6y3H06blPcjJmG/sBpOVZjTSFFlzQ==" crossorigin="anonymous"></script>
		script(type="text/javascript" src="/static/" + demoName + ".demo.js" + ran)