<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title demo: #{demoName}
		style.
			html, body {
				margin: 0;
				padding: 0;
				border: none;
				background: transparent;
			}
			#container {
				position: absolute;
				left: 0;
				top: 0;
				width: 100vw;
				height: 100vh;
			}

	body

		.info

		#container

		script(type="text/javascript" src="/static/" + demoName + ".demo.js" + ran)