<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title 索引页

    body
        div choose a demo :)

        ul
            each demo in demos
                li
                    a(href="/" + demo) #{demo}